.search {
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    align-items: center;
    &-h1 {
        font-family: $Montserrat;
        font-size: 35px;
        color: $Purple;
        text-align: center;
        width: 40%;
        &-span {
            color: $Limegreen;
        }
        body.dark & {
            color: white;
        }
    }
    &-img {
        width: 27.7%;
        margin-top: 1.5rem;
    }
    &-h3 {
        font-family: $Montserrat;
        font-weight: $Bold;
        font-size: 18px;
        color: $Purple;
        text-align: center;
        margin-top: 6rem;
        body.dark & {
            color: white;
        }
    }
    &-trending-tags {
        font-family: $Montserrat;
        font-weight: $Medium;
        font-size: 16px;
        color: $Purple;
        text-align: center;
        margin-top: 0.5rem;
        body.dark & {
            color: white;
        }
        span {
            text-transform: capitalize;
            line-height: 2em;
            background: linear-gradient(to top, $Purple 50%, $White 50%);
            background-size: 100% 200%;
            background-position: top left;
            transition: all .3s ease-out;
            &::after {
                content: ",  ";
                white-space: pre;
            }
            &:hover {
                cursor: pointer;
                filter: brightness(2);
                background-position: bottom left;
                color: $White;
                body.dark & {
                    border-bottom-color: white;
                }
            }
        }
    }
}
//---------- MOBILE ----------
@media screen and (max-width: $Query) {
    .search {
        margin-left: 0;
        margin-right: 0;
        margin-top: 8.75rem;
        width: 100%;
        &-h1 {
            font-size: 25px;
            width: 75%;
            align-self: center;
        }
        &-trending-tags{
            font-size: 15px;
        }
        &-img {
            width: 75%;
            align-self: center;
        }
    }
}
