//---------- TRENDING SECTION ----------
.trending-gifos {
    background-color: $Gray1;
    margin-top: 6rem;
    padding-top: 4rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    body.dark & {
        background-color:$Gray5;
    }
    &-h2 {
        font-family: $Montserrat;
        font-weight: $Bold;
        font-size: 25px;
        color: $Purple;
        body.dark & {
            color: white;
        }
    }
    &-p {
        font-family: $Roboto;
        font-weight: $Regular;
        font-size: 18px;
        margin-top: 0.75rem;
        body.dark & {
            color: white;
        }
    }
    &-arrow-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        &-button {
            height: fit-content;
            &:hover {
                cursor: pointer;
            }
        }
        &-item {
            margin-right: 1em;
            margin-left: 1em;
        }
    }
    &-gifos-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .gifHover{
            left: 1rem;
        }
        img {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
//---------- MOBILE ----------
@media screen and (max-width: $Query) {
        .trending-gifos {
            &-h2 {
                font-size: 20px;
            }
            &-p {
                font-size: 16px;
                width: 75%;
                text-align: center;
            }
            &-arrow-container {
                overflow-x: scroll;
                width: 100vw;
                justify-content: flex-start;
                #leftArrow{
                display: none;
                }
            }
        }
    }
}
