$Purple: #572EE5;
$LightPurple: #562ee5b2;
$Limegreen: #50E3C2;
$White: #ffffff;
$Gray1: #F3F5F8;
$Gray2: #CDD6E0;
$Gray3: #9CAFC3;
$Gray4: #37383C;
$Gray5: #222326;
$Black: #000000;

$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

$Bold: 700;
$Medium: 500;
$Black: 900;
$Regular: 400;

$MarginGeneral: 9.75rem;
$MarginGeneralMobile: 1.38rem;

$Query: 800px;