$Purple: #572EE5;
$Limegreen: #50E3C2;
$White: #ffffff;
$LighterGray: #F3F5F8;
$LightGray: #CDD6E0;
$SemiLightGray: #9CAFC3;
$Gray: #37383C;
$DarkGray: #222326;
$Black: #000000;

$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

$Bold: 700;
$Medium: 500;
$Black: 900;
$Regular: 400;