* {
  margin: 0;
  padding: 0;
  -webkit-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}

body {
  background-color: white;
}

body.dark {
  background-color: #37383C;
}

body h1, body h2, body h3, body h4, body h5, body h6, body p, body span, body a {
  -webkit-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}

@-webkit-keyframes nav-links {
  from {
    border-color: #572EE5;
  }
  to {
    border-color: #50E3C2;
  }
}

@keyframes nav-links {
  from {
    border-color: #572EE5;
  }
  to {
    border-color: #50E3C2;
  }
}

.search-container {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  width: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-container .searchbar {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9CAFC3;
  border: 1pt solid #572EE5;
  border-radius: 27px;
  padding: 0.75rem;
  padding-left: 3.38rem;
}

body.dark .search-container .searchbar {
  border-color: #9CAFC3;
  background-color: #37383C;
}

.search-container .search-icon-purple {
  position: absolute;
  right: 5%;
  top: 25%;
  width: 1.2em;
}

.search-container .search-icon-purple:hover {
  cursor: pointer;
}

.search-container .search-icon-gray {
  position: absolute;
  left: 5%;
  top: 25%;
  -webkit-filter: brightness(4);
          filter: brightness(4);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  z-index: 8;
}

.search-container .search-icon-gray:hover {
  cursor: pointer;
}

.search-container .search-close {
  position: absolute;
  right: 5.25%;
  top: 35%;
}

.autocomplete {
  width: 33.8rem;
  border: 1pt solid #572EE5;
  border-top: none;
  border-radius: 0 0 27px 27px;
  list-style: none;
  opacity: 60%;
}

body.dark .autocomplete {
  color: white;
  border-color: gray;
}

.autocomplete li {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
}

.autocomplete li p {
  display: inline;
  padding-left: 1rem;
}

.autocomplete li:last-of-type {
  border-radius: 0 0 27px 27px;
  border-bottom: none;
}

.autocomplete li:hover {
  background-color: rgba(173, 173, 173, 0.698);
  cursor: pointer;
}

.nav-search-container {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-search-container .nav-search-bar {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9CAFC3;
  border: 1pt solid #572EE5;
  border-radius: 27px;
  padding: 0.75rem;
  padding-left: 3.38rem;
}

body.dark .nav-search-container .nav-search-bar {
  border-color: #9CAFC3;
  background-color: #37383C;
}

.nav-search-container .nav-search-bar:focus {
  color: 900;
  outline: none;
}

.nav-search-container .nav-searchIcon-purple {
  position: absolute;
  right: 5%;
  top: 25%;
  width: 1.2em;
}

.nav-search-container .nav-searchIcon-purple:hover {
  cursor: pointer;
}

.nav-search-container .nav-searchIcon-gray {
  position: absolute;
  left: 5%;
  top: 25%;
  -webkit-filter: brightness(4);
          filter: brightness(4);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  z-index: 8;
}

.nav-search-container .nav-searchIcon-gray:hover {
  cursor: pointer;
}

.nav-search-container .nav-searchIcon-close {
  position: absolute;
  right: 5.25%;
  top: 35%;
}

.gifU {
  position: relative;
}

.gifU img {
  width: 22rem;
  height: 17rem;
}

.gifU .gif-hover {
  width: 22rem;
  height: 17rem;
  position: absolute;
  top: 0;
  z-index: 8;
  background-color: #562ee5b2;
  cursor: -webkit-grab;
  cursor: grab;
}

.gifU .gif-hover p {
  position: absolute;
  left: 1rem;
}

.gifU .gif-hover .gif-user {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  bottom: 4rem;
}

.gifU .gif-hover .gif-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  bottom: 2rem;
  max-height: 1em;
  line-height: 1.2em;
}

.gifU .gif-hover .gif-buttonbar {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.gifU .gif-hover .gif-buttonbar img {
  width: 4rem;
  height: 4rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.gifU .gif-hover .gif-buttonbar img:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .search-container {
    width: 90%;
  }
  .autocomplete {
    width: 89%;
  }
  .gifU img {
    width: 15rem;
    height: 11rem;
  }
  .gifU .gif-hover {
    display: none;
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 4pt solid #572EE5;
  background-color: #ffffff;
}

body.dark .nav {
  border-top-color: black;
  background-color: #37383C;
}

.nav-logo {
  margin-left: 9.75rem;
  padding-top: 0.25em;
  width: 4rem;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container hr {
  display: none;
}

.nav-container-items {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-container-items-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.nav-container-items-item a {
  text-decoration: none;
  color: #572EE5;
  font-size: 13px;
}

body.dark .nav-container-items-item a {
  color: #ffffff;
}

.nav-container-items-item a:hover {
  -webkit-animation: nav-links 0.5s ease-in-out;
          animation: nav-links 0.5s ease-in-out;
  border-bottom: 1.5pt solid #50E3C2;
}

.nav-container-items-item a:active {
  color: #9CAFC3;
}

.nav-container-hamburger {
  display: none;
}

.nav-container-button-container {
  margin-top: 1em;
  margin-right: 9.75rem;
  position: relative;
  margin-left: 2rem;
}

.nav-container-button-container #btnCreateGif1:hover {
  cursor: pointer;
}

.nav-container-button-container #btnCreateGif2 {
  position: absolute;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .nav {
    height: 4rem;
  }
  .nav-logo {
    margin-left: 1.38rem;
    padding-bottom: 1rem;
    width: 30px;
  }
  .nav-container hr {
    display: block;
    color: #37383C;
    width: 16%;
  }
  .nav-container-items {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 3.5rem;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: #572EE5;
    opacity: 90%;
  }
  .nav-container-items li {
    margin-top: 1.38rem;
    margin-bottom: 1.38rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-container-items li a {
    color: #ffffff;
    font-size: 15px;
    border-bottom: #ffffff;
  }
  .nav-container-button-container {
    display: none;
  }
  .nav-container-hamburger {
    display: block;
    margin-right: 1.38rem;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #572EE5;
  text-align: center;
  width: 40%;
}

.search-h1-span {
  color: #50E3C2;
}

body.dark .search-h1 {
  color: white;
}

.search-img {
  width: 27.7%;
  margin-top: 1.5rem;
}

.search-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #572EE5;
  text-align: center;
  margin-top: 6rem;
}

body.dark .search-h3 {
  color: white;
}

.search-trending-tags {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  margin-top: 0.5rem;
}

body.dark .search-trending-tags {
  color: white;
}

.search-trending-tags span {
  text-transform: capitalize;
  line-height: 2em;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #572EE5), color-stop(50%, #ffffff));
  background: linear-gradient(to top, #572EE5 50%, #ffffff 50%);
  background-size: 100% 200%;
  background-position: top left;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.search-trending-tags span::after {
  content: ",  ";
  white-space: pre;
}

.search-trending-tags span:hover {
  cursor: pointer;
  -webkit-filter: brightness(2);
          filter: brightness(2);
  background-position: bottom left;
  color: #ffffff;
}

body.dark .search-trending-tags span:hover {
  border-bottom-color: white;
}

@media screen and (max-width: 800px) {
  .search {
    margin-left: 0;
    margin-right: 0;
    margin-top: 8.75rem;
    width: 100%;
  }
  .search-h1 {
    font-size: 25px;
    width: 75%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .search-trending-tags {
    font-size: 15px;
  }
  .search-img {
    width: 75%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.search-results {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}

.search-results hr {
  color: #37383C;
  width: 12rem;
  margin-top: 3.5rem;
}

.search-results h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #572EE5;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 3.5rem;
  text-transform: capitalize;
}

body.dark .search-results h3 {
  color: white;
}

.search-results .no-result {
  font-weight: 700;
  color: #50E3C2;
  font-size: 22px;
  text-transform: none;
}

.search-results .gifU {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75em;
}

.search-results .gifU .gif-hover {
  top: 0.8em;
  left: 0.75em;
}

.see-more {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #572EE5;
  background-color: #ffffff;
  border: 1pt solid #572EE5;
  border-radius: 27px;
  padding: 0.75rem;
  position: absolute;
  bottom: -4rem;
  -webkit-transition: none;
  transition: none;
}

.see-more:hover {
  color: #ffffff;
  background-color: #572EE5;
  cursor: pointer;
}

body.dark .see-more {
  border-color: #9CAFC3;
  background-color: #37383C;
  color: white;
}

body.dark .see-more:hover {
  color: rgba(255, 255, 255, 0.568);
  background-color: gray;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .search-results {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  .search-results h3 {
    font-size: 25px;
  }
  .search-results .no-result {
    font-size: 18px;
  }
  .search-results .gifU img {
    width: 9rem;
    height: 6.5rem;
  }
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .search-results {
    width: 100vw;
  }
  .search-results .gifU img {
    width: 16rem;
    height: 11rem;
  }
  .search-results .gifU .gif-hover {
    width: 16rem;
    height: 11rem;
  }
}

.trending-gifos {
  background-color: #F3F5F8;
  margin-top: 6rem;
  padding-top: 4rem;
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark .trending-gifos {
  background-color: #222326;
}

.trending-gifos-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #572EE5;
}

body.dark .trending-gifos-h2 {
  color: white;
}

.trending-gifos-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 0.75rem;
}

body.dark .trending-gifos-p {
  color: white;
}

.trending-gifos-arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.trending-gifos-arrow-container-button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.trending-gifos-arrow-container-button:hover {
  cursor: pointer;
}

.trending-gifos-arrow-container-item {
  margin-right: 1em;
  margin-left: 1em;
}

.trending-gifos-gifos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.trending-gifos-gifos-container .gif-hover {
  left: 1rem;
}

.trending-gifos-gifos-container img {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 800px) {
  .trending-gifos .trending-gifos-h2 {
    font-size: 20px;
  }
  .trending-gifos .trending-gifos-p {
    font-size: 16px;
    width: 75%;
    text-align: center;
  }
  .trending-gifos .trending-gifos-arrow-container {
    overflow-x: scroll;
    width: 100vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .trending-gifos .trending-gifos-arrow-container #leftArrow {
    display: none;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4pt solid #572EE5;
}

body.dark .footer {
  border-bottom-color: black;
}

.footer-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 9.75rem;
}

.footer-share p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

body.dark .footer-share p {
  color: white;
}

.footer-share-buttons {
  margin-left: 0.75em;
  margin-right: 0.75em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-share-buttons img {
  margin-left: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-share-buttons:hover {
  cursor: pointer;
}

.footer-copyright {
  margin-right: 9.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

body.dark .footer-copyright {
  color: white;
}

@media screen and (max-width: 800px) {
  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-share {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-top: 1em;
  }
  .footer-share p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 15px;
  }
  .footer-share div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-share-buttons {
    margin-top: 1em;
    margin-left: 0;
  }
  .footer-copyright {
    margin: 0;
    margin-top: 3em;
    margin-bottom: 1em;
  }
}

.hidden {
  display: none;
}
/*# sourceMappingURL=styles.css.map */