* {
    margin: 0;
    padding: 0;
    transition: background-color 1s ease-in-out;
}

@import "variables";
@import "general";
@import "nav";
@import "searchSection";
@import "searchResults";
@import "trendingSection";
@import "footer";
@import "maximizeGif";
@import "favoriteGif";
@import "createGif";
@import "myGif";

// .hidden {
//     display: none;
// }